<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1059094001707-un5drv5dd4d44mmbjkjq9vmn7nu3fval.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1059094001707-un5drv5dd4d44mmbjkjq9vmn7nu3fval</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1059094001707-l7fsqg99mcl4ebklhesjs6rcnvt2d2jo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBeEKPpV-N2H6lH0ak4oI6iPp5O5-A04Tg</string>
	<key>GCM_SENDER_ID</key>
	<string>1059094001707</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialapp</string>
	<key>PROJECT_ID</key>
	<string>prakhar-sparks</string>
	<key>STORAGE_BUCKET</key>
	<string>prakhar-sparks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1059094001707:ios:703e379c644d5ee55e926e</string>
	<key>DATABASE_URL</key>
	<string>https://prakhar-sparks-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>